/*Fonts and font acsessability*/

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #d9e2e7;
    font-size: 1rem;
    text-align: left;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #1c79a7;
    font-size: 2rem;
    text-align: left;
}

html.readable-font{
    font-family:"Atkinson Hyperlegible";
    line-height: 2;
    letter-spacing: 0.03em;
    color: #d9e2e7;
    margin: 0 auto;
    font-size: 1rem;
}

html.large-text {
    font-size: 1.5rem;
}


/*Topnav*/

.topnav{
    overflow: hidden;
}

.topnav a {
    color: #d9e2e7;
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 20px 30px;
}

.topnav a:hover {
    float: left;
    text-align: center;
    background-color: #1c79a7;
    color:#ffffff;
    border-radius: 8px;  
}

.TopNavBackdrop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    background-color: #0b2a3a;
    font-size: 0.9rem;
    border-radius: 4px; 
}

/*Background body*/

body {
    background-color: #051d29;
    color: #d9e2e7;
    font-family: "Open Sans";     
    margin: 0 auto;
}

/*Website Primary container*/

.Maincontainer {
    background-color: #072737;    
    width: 85%;        
    margin: 40px auto;          
    padding: 30px;
    border-radius: 8px;             
}

/*Secondary Ribbon*/

.LinksControlsRibbon {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    background-color: #0b2a3a;
    font-size: 0.9rem;
    border-radius: 4px; 
}

.LCribbon-left a {
    display: inline-flex;
    align-items: center;
    gap: 0.4rem;

    margin-right: 1rem;
    text-decoration: none;
    color: #d9e2e7;
}

/* Buttons */

button {
    font-family: inherit;
    font-size: inherit;
    background-color: #1c79a7;
    border: none;
    border-radius: 4px;
}
