/*Topnav bar -------------------------------------------------------------- */

.topnav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: var(--navbarcolor);
    border-radius: 8px; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.topnav a{
    flex: 1;
    text-align: center;
    padding: 1rem;
    color: var(--paragraph);
    text-decoration: none;
    border-radius: 8px;
}

.topnav a:hover{
    color: var(--texthover);
    background-color: var(--Hover);
    transition: 0.2s ease;
}

/*Secondary Navbar --------------------------------------------------------- */

.LinksControlsRibbon{ 
    margin-top: 1rem;
    display: flex;  
    align-items: center; 
    background-color: var(--navbarcolor);
    border-radius: 8px; 
} 
    
.LCribbon-left a { 
    display: inline-flex; 
    align-items: center; 
    gap: 0.5rem; 
    margin-left: 1rem; 
    text-decoration: none;
    color: #d9e2e7;
} 

.LCribbon-right { 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: auto; 
    display: flex; 
    justify-content: flex-end; 
}

@media (max-width: 600px) {
    .LinksControlsRibbon {
        margin-top: 1rem;
        flex-direction: column;
        gap: 0.5rem;
        background-color: var(--navbarcolor);
    }

    .LCribbon-right {
        margin-left: 0;
        justify-content: flex-start;
    }

    .LCribbon-left a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    margin-right: 1rem;
    text-decoration: none;
    color: #d9e2e7;
    }
}





