/*Topnav bar -------------------------------------------------------------- */

.topnav{
    display: flex;
    flex-direction: row;
    background: var(--navbarcolor);
    border-radius: 8px; 
}

.topnav a{
    flex: 1;
    text-align: center;
    padding: 1rem;
    color: var(--paragraph);
    text-decoration: none;
    border-radius: 8px;
}

.topnav a:hover{
    color: var(--texthover);
    background-color: var(--Hover);
    transition: 0.2s ease;
}

/*Secondary Navbar --------------------------------------------------------- */

.LinksControlsRibbon{
    margin-top: 1rem;
    display: flex;
    padding: 0.25rem 1rem;
    background-color: var(--navbarcolor);
    border-radius: 8px; 
}

.LCribbon-left a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    margin-right: 1rem;
    text-decoration: none;
    color: #d9e2e7;
}

.LCribbon-right {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}





