/* These are the color schemes for the website */

.theme-navy{
  /* Colors */
  --sitebackdrop: #051d29;
  --maincontainer: #072737;
  
  /* Text */
  --paragraph: #d9e2e7;
  --headers: #1c79a7;

  /*Navbars*/
  --navbarcolor: #0f3649;
  --navbarcolorlight: #154963;
  --Hover: #1c79a7;
  --texthover: #ffffff;
  --texthover-dark: #000000;

  /*other*/
  --transition: 0.2s ease;
  
}

.theme-nature{
  /* Colors */
  --sitebackdrop: #0a1d0a;
  --maincontainer: #1a3a1b;
  
  /* Text */
  --paragraph: #d9e2e7;
  --headers: #50b854;

  /*Navbars*/
  --navbarcolor:#215024;
  --navbarcolorlight: #2b662f;
  --Hover: #317b35;
  --texthover: #ffffff;
  --texthover-dark: #000000;

  /*other*/
  --transition: 0.2s ease;

}

.theme-white{
  /* Colors */
  --sitebackdrop: #999999;
  --maincontainer: #d5d5d5;
  
  /* Text */
  --paragraph: #000000;
  --headers: #515151;

  /*Navbars*/
  --navbarcolor:#a09c9c;
  --navbarcolorlight:#ffffff;
  --Hover: #9c9c9c;
  --texthover: #000000;
  --texthover-dark: #000000;

  /*other*/
  --transition: 0.2s ease;

}